.py-attribute-table {
    display: flex;
    flex-wrap: wrap;
    background: #eaeaea;
    padding-left: 1rem;
    border-left:  2px #88C2FC solid;
    margin-bottom: -0.6rem;
}

.py-attribute-table-column {
    flex: .5;
}

.py-attribute-table-column > ul {
    list-style: none;
}

.py-attribute-table-badge {
    padding-right: .5rem;
}

.py-attribute-table-column > span {
    font-weight: bold;
}

.attr-table-title {
    flex: 0 0 100%;
    padding-bottom: 1rem;
}

.attr-table-title > .attr-table-title-qualified {
    font-weight: bold;
}